 .master {
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.pull-right {
    background-color: #FEAC00;
    color: #fff;
}

.btn-info:hover {
    color: #fff;
    background-color: #FEAC00;
    border-color: #FEAC00;
}

.btn:hover {
    color: #fff;
    background-color: #FEAC00;
    border-color: #FEAC00;
}

.box {
    width: 450px;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .19), 0 6px 3px rgba(0, 0, 0, .23);
    margin-left: auto;
    margin-right: auto;

}

.main {
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    padding: 30px 40px 30px
}

.header {
    background-color: #FEAC00;
    padding: 30px 30px 10px;
    border-radius: 3px 3px 0 0;
    text-align: center
}

.header__step {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.1px;
    margin: 0 0 10px
}

.header__step,
.header__title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff
}

.header__title {
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 15px
}

.step {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -20px
}

.badge2 {
    background-color: #e97449 !important;
}

.badge1 {
    background-color: #118d32 !important;
}

.container {
    background-color: #272727;
    width: 500px;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.info-box {
    background: #f1f1f1;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.info-box ul {
    padding: 0;
}

.info-box ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-box ul li img {
    margin-right: 10px;
}

.link {
    color: #FEAC00;
    text-decoration: none;
    font-weight: 500;
}

.button {
    background-color: #FEAC00;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.footer {
    margin-top: 30px;
    font-size: 0.8rem;
    color: #888;
}

.footer img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.monitoring-tools {
    margin-top: 30px;
}

.paragraph {
    font-size: 14px;
}

.header_one {
    font-size: 24px;
    text-align:center;
}

.paragraph_justify {
    font-size: 14px; text-align: justify;
    font-size: 14px; text-align: justify;
}


.info-box_ul{
    padding-left: 10px;
}

.text_color {
    color:#FEAC00;
}
.border-success {
    border: 2px solid green !important;
    padding: 5px;
}

.d-none {
    display: none;
}
